<%@ Import Namespace="Oxite.Modules.Blogs.Extensions"%>
<%@ Master Language="C#" AutoEventWireup="true" Inherits="System.Web.Mvc.ViewMasterPage<OxiteViewModel>" %>
<%@ Import Namespace="Oxite.Extensions"
%><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title><asp:ContentPlaceHolder ID="Title" runat="server"><%=Html.PageTitle() %></asp:ContentPlaceHolder></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="generator" content="Oxite" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <%
    Html.RenderFavIcon(); %>
    <meta name="language" content="<%=Model.Site.LanguageDefault %>" />
    <asp:ContentPlaceHolder ID="robots" runat="server"><meta name="robots" content="index,follow" /></asp:ContentPlaceHolder>
    <asp:ContentPlaceHolder ID="MetaDescription" runat="server"><%=Html.PageDescription()%></asp:ContentPlaceHolder><%
    Html.RenderOpenSearch(); %>
    <asp:ContentPlaceHolder ID="SearchTags" runat="server"></asp:ContentPlaceHolder>
    <asp:ContentPlaceHolder ID="HeadCustom" runat="server"></asp:ContentPlaceHolder><%
    Html.RenderPartialFromSkin("HeadCustomContents"); %><asp:ContentPlaceHolder ID="HeadCssFiles" runat="server"></asp:ContentPlaceHolder><link href="http://widgets.twimg.com/j/1/widget.css" type="text/css" rel="stylesheet" /><asp:ContentPlaceHolder ID="HeadScripts" runat="server"></asp:ContentPlaceHolder></head>
<body class="<%=Html.BodyClass(ViewContext.RouteData.Values["pagePath"] as string, ViewContext.RouteData.Values["scheduleItemType"] as string, ViewContext.RouteData.Values["blogName"] as string) %>">
    <script type="text/javascript">/*<![CDATA[*/document.body.className += (document.body.className.length > 0 ? ' ' : '') + 'dyn';//]]></script><%
	Html.RenderPartialFromSkin("Analytics"); %>
	<div id="interface">
		<div id="header"><asp:ContentPlaceHolder ID="HeaderSiteName" runat="server"><div id="siteName"><%=Html.Link("Microsoft PDC09", Url.Home()) %></div></asp:ContentPlaceHolder><%
            Html.RenderPartialFromSkin("Header"); %>
		</div>
		<div id="contentarea">
		    <div id="navigation"><%
                Html.RenderPartialFromSkin("SiteNav");
                Html.RenderPartialFromSkin("SecondaryNav"); %>
            </div>
			<div id="content"><asp:ContentPlaceHolder ID="HeroBanner" runat="server" />
				<div id="primary"><asp:ContentPlaceHolder ID="ContentHeader" runat="server" /><asp:ContentPlaceHolder id="MainContent" runat="server"></asp:ContentPlaceHolder></div>
			</div>
			<div id="sidebar"><%
                Html.RenderPartialFromSkin("SideBar"); %>
			</div>
            <div id="footer"><%
                Html.RenderPartialFromSkin("Footer"); %>
		    </div>
		</div>
	</div>
    <%=Html.TrackbackBlock() %>
    <asp:ContentPlaceHolder ID="ScriptVariablesPre" runat="server"></asp:ContentPlaceHolder><asp:ContentPlaceHolder ID="Scripts" runat="server"></asp:ContentPlaceHolder><asp:ContentPlaceHolder ID="ScriptVariablesPost" runat="server"></asp:ContentPlaceHolder>
</body>
</html>
